---
- name: Install nginx
  hosts: centos_nodes,ubuntu_nodes
  become: yes

  tasks:
    - name: Install nginx
      yum:
        name: nginx
        state: latest
        
    - name: Start nginx
      systemd:
        name: nginx
        enabled: yes
        state: started
         
    
       
    
